<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Attendance System</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="{{ url_for('index') }}" class="logo">
                    <img src="../static/img/KIt logo.png" width="35" height="35" alt=""> <span>Attendance</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="../static/img/user.jpg" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('profile')}}">My Profile</a>
                        <!-- <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a> -->
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                        class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ url_for('profile')}}">My Profile</a>
                    <!-- <a class="dropdown-item" href="{{ url_for('logout')}}">Logout</a> -->
                </div>
            </div>
        </div>
        {% if 'user_id' in session %}
        <!-- Display the Logout option if user is logged in -->
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <!-- Optionally, you can display the Login link if the user is not logged in -->
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li><a href="{{ url_for('students_list') }}"><i class="fa fa-user"></i> <span>Students
                                    List</span></a></li>

                        <li><a href="{{ url_for('attendance') }}"><i class="fa fa-user"></i> <span>Attendance</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('calendar') }}"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
                        </li>
                        <li><a href="{{ url_for('login') }}"><span>Login</span> </a></li>
                        <li><a href="{{ url_for('register') }}"><span> Register</span> </a></li>
                        <li><a href="{{ url_for('forgot_password') }}"><span>Forgot Password</span> </a></li>
                        <li><a href="{{ url_for('change_password') }}"><span> Change Password </span></a></li>
                        <li><a href="{{ url_for('profile') }}"><span> Profile </span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>98</h3>
                                <span class="widget-title1">Teachers <i class="fa fa-check"
                                        aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>1072</h3>
                                <span class="widget-title2">Students <i class="fa fa-check"
                                        aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5>Upload Files</h5>
                                <form action="{{ url_for('upload_images') }}" method="POST"
                                    enctype="multipart/form-data">
                                    <!-- Input for first image -->
                                    <label for="upload-photos" class="form-label">Photo 1</label>
                                    <input type="file" class="form-control mb-3" id="upload-photos" name="photos"
                                        accept="image/png, image/jpeg, image/webp" required>

                                    <!-- Input for second image -->
                                    <label for="browse-files" class="form-label">Photo 2</label>
                                    <input type="file" class="form-control mb-3" id="browse-files" name="files"
                                        accept="image/png, image/jpeg, image/webp" required>

                                    <!-- Upload button -->
                                    <button type="submit" class="btn btn-primary w-100 mt-2">Upload</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header text-center">
                                <h5>Uploaded Images</h5>
                            </div>
                            <div class="card-body d-flex justify-content-center" style="gap: 20px;">
                                <!-- Uploaded image 1 box -->
                                <div class="uploaded-image-box" id="uploaded-image1"
                                    style="width: 45%; height: 200px; border: 1px solid #ddd; text-align: center; line-height: 200px;">
                                    <span>Image 1</span>
                                </div>
                                <!-- Uploaded image 2 box -->
                                <div class="uploaded-image-box" id="uploaded-image2"
                                    style="width: 45%; height: 200px; border: 1px solid #ddd; text-align: center; line-height: 200px;">
                                    <span>Image 2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header text-center">
                                <h5>Preview Processed Images</h5>
                            </div>
                            <div class="card-body d-flex justify-content-center" style="gap: 20px;">
                                <div class="processed-image-box"
                                    style="width: 45%; height: 200px; border: 1px solid #ddd; text-align: center; line-height: 200px;">
                                    <!-- Processed image 1 -->
                                    <span>Processed Image 1</span>
                                </div>
                                <div class="processed-image-box"
                                    style="width: 45%; height: 200px; border: 1px solid #ddd; text-align: center; line-height: 200px;">
                                    <!-- Processed image 2 -->
                                    <span>Processed Image 2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <button class="btn btn-success w-100" id="mark-attendance">Mark Attendance</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary w-100" id="submit-attendance">Submit Attendance</button>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header text-center">
                                <h5>Attendance Summary</h5>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Student Name</th>
                                            <th>PRN</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="attendance-summary">
                                        <!-- Attendance summary rows will be dynamically inserted here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.slimscroll.js"></script>
    <script src="../static/js/app.js"></script>

    <script>
        $(document).ready(function () {
            // Handle photo upload
            $('#upload-button').click(function () {
                var formData = new FormData();
                formData.append('image1', $('#browse-files1')[0].files[0]);  // Assuming you have an input with id 'browse-files1' for image1
                formData.append('image2', $('#browse-files2')[0].files[0]);  // Assuming you have an input with id 'browse-files2' for image2

                $.ajax({
                    url: '/upload_images',  // Flask endpoint for handling image upload
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        // Check if response contains image URLs and then update the HTML
                        if (response.image1_url && response.image2_url) {
                            // Update image 1 box
                            $('#uploaded-image1').html('<img src="' + response.image1_url + '" style="width: 100%; height: 100%; object-fit: cover;" />');
                            // Update image 2 box
                            $('#uploaded-image2').html('<img src="' + response.image2_url + '" style="width: 100%; height: 100%; object-fit: cover;" />');
                        } else {
                            alert('Error: Image URLs not found in the response.');
                        }
                    },
                    error: function (error) {
                        alert('Error uploading images');
                        console.error(error);
                    }
                });
            });
        });

        // Mark Attendance
        $('#mark-attendance').click(function () {
            $.ajax({
                url: '/mark_attendance',  // Flask endpoint to detect faces and mark attendance
                type: 'GET',
                success: function (response) {
                    // Dynamically update attendance table
                    var tableBody = $('#attendance-table-body');
                    response.attendance.forEach(function (record) {
                        tableBody.append('<tr><td>' + record.roll_number + '</td><td>' + record.name + '</td><td>' + record.time + '</td></tr>');
                    });
                }
            });
        });

        // Submit Attendance
        $('#submit-attendance').click(function () {
            $.ajax({
                url: '/submit_attendance',  // Flask endpoint for submitting attendance
                type: 'POST',
                success: function (response) {
                    alert("Attendance Submitted Successfully!");
                }
            });
        });
            });
    </script>
</body>

</html>